<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>My Todo</title>

	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
	<style type="text/css">
		.mytodo-cancelbutton{
			font-size: 40px;
			text-decoration: none !important;
			position: relative;
			margin-top: -43px;
			float: right;
		}
		.mytodo-div-check{
			float: left; 
			width: 50px; 
			padding: 16px;
		}
		.mytodo-div-data{
			float: left;
		}
		.mytodo-div-action{
			float: left;
			padding: 8px;
			font-size: 14px;
		}
	</style>
</head>
<body ng-app="MyTodo">

	<div ng-controller="myController">
		<div class="container">
			<h1>My Todo List</h1>
			<hr/>

			<form id="add-form" ng-submit="SaveCommand()">
				<input placeholder="Whats New Todo ?" ng-model="CurrentData.name" class="form-control input-lg" autofocus>
				<a href="#" class="glyphicon glyphicon-remove mytodo-cancelbutton" ng-click="CancelEditCommand()" ng-show="IsEdit"></a>
			</form>
			<hr/>

			<div ng-repeat="data in ListData | orderBy:'id':true">
				<div class="row">
					<div class="col-xs-12">
						<div class="mytodo-div-check">
							<input type="checkbox" ng-model="data.done" ng-change="ChangeStatusCommand(data)" style="-webkit-transform: scale(2)"/>
						</div>
						<div class="mytodo-div-data">
							<div ng-if="data.done == false" class="alert alert-warning">{{ data.name }}</div>
							<div ng-if="data.done == true" class="alert alert-success">{{ data.name }}</div>
						</div>
						<div class="mytodo-div-action">
							<a href="#" class="glyphicon glyphicon-pencil" ng-click="EditCommand(data)"></a>
							<a href="#" class="glyphicon glyphicon-trash" ng-click="DeleteCommand(data)"></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script src="node_modules/angular/angular.js"></script>	
	<script src="js/app.js"></script>
	
</body>
</html>